/* h3avren */
/* styles for the pieces of code */

/* installation style */
.installation{
    background-color : rgba(120,210 ,22,0.4);
    color : rgba(0,0,0,0.7);
    font-style : italic;
    padding : 10px;
    padding-left : 20px;
    margin : 20px;
    max-width : 600px;
}

/* style 1 for the code area */ 
.code-box{
    background-color : rgba(53,54,58,0.2);
    border-left : 3px Solid Green;
    padding : 10px;
    padding-left : 20px;
    margin : 10px;
    margin-left : 50px;
    width : auto;
    font-size : 14px;
    font-weight : bold;
    font-style : italic;
    color : rgb(0,0,0,0.7);
    overflow : auto;
}

/* style for comments */
.comments{
    color :  rgb(33, 104, 33);
    padding-left : 15px;
}

/* style for lines of comments */
.lineComments{
    display : block;
    color : rgb(33, 104, 33);
} 

/* style 2 for the code area */
.code-box-2{
    background-color : rgba(35, 65, 57, 0.2);
    border-left : 3px Solid purple;
    padding : 10px;
    padding-left : 20px;
    margin : 10px;
    margin-left : 50px;
    width : auto;
    font-size : 14px;
    font-weight : bold;
    font-style : italic;
    color : rgba(0,0,0,0.7);
    overflow : auto;
}

/* style for small code snippets */
.small-snippet{
    background-color : rgba(35, 65, 57, 0.2);
    border-left : 3px Solid Crimson;
    padding : 10px;
    padding-left : 20px;
    margin : 10px;
    margin-left : 20px;
    max-width : 600px;
    font-size : 14px;
    font-weight : bold;
    font-style : italic;
    color : rgba(0,0,0,0.7);
}

/* style 1 for the output area */
.results-box{
    background-color : rgba(12,34,255,0.2);
    font-size : 14px;
    font-style : italic;
    color : rgba(0,0,0,0.7);
    max-width : 600px;
    padding : 10px;
    padding-left : 20px;
    font-weight : bold;
    border-left : 3px Solid rgb(139, 81, 247);
    margin : 10px;
    margin-left : 50px;
    overflow : auto;
}

/* style 2 for the result area */
.results-box-2{
    background-color : rgba(0,250,25,0.2);
    border-left : 3px Solid rgba(255,128,25,1);
    padding : 10px;
    padding-left : 20px;
    margin : 10px;
    margin-left : 50px;
    font-size : 14px;
    font-style : italic;
    font-weight : bold;
    max-width : 600px;
    color : rgba(0,0,0,0.7);
    overflow : auto;
}

/* style for single lines of code */
.line-of-code{
    display : block;
    background-color : rgba(100,0,255,0.3);
    padding : 4px;
    font-weight : bolder;
    overflow : auto;
}

/* orange color for keywords */
.orange{
    color : rgb(245, 104, 22);
}

/* blue color for keywords */
.blue{
    color : rgb(0, 89, 255);
}

/* purple color for keywords */
.purple{
    color : rgb(196, 4, 255);
}

/* green color for keywords */
.green{
    color : rgb(33, 104, 33);
}