body{
    background-color : rgba(53,54,58,0.2);
}

/* styles for the heading h2*/
.title{
    font-family : monospace;
    /* font-size :  */
    text-align : center;
    font-size : 32px;
    color : rgba(0,0,0,0.6);
}

/* installation style */
.installation{
    background-color : rgba(120,210 ,22,0.4);
    color : rgba(0,0,0,0.7);
    font-style : italic;
    padding : 10px;
    padding-left : 20px;
    margin : 20px;
    max-width : 600px;
}

h4{
    color : rgba(135, 15, 233, 0.959);
}

/* style for the heading h3 */
.heading{
    font-family : lobster, monospace;
    font-size : 22px;
    color : rgba(53, 2, 27, 0.959);
}

/* style for the content-box */
.content-box{
    color :  rgba(0, 25, 25, 0.9);
    text-align : left;
    padding : 20px;
    padding-bottom : 10px;
    margin-left : 10px;
    /*font-weight : bold;*/
    font-style : italic;
    font-size :15px;    
    font-family : monospace;
}

/* style for the navigation bar */
#navbar{
    text-align : right;
    background-color : rgba(0,0,0,0.8);
    color : rgba(255,255,255,0.7);
    padding : 10px;
    position : sticky;
    top : 0px;
}

.navbar{
    color : inherit;
    padding : 10px;
    text-decoration : inherit;
}

/* style 1 for the code area */ 
.code-box{
    background-color : rgba(53,54,58,0.2);
    border-left : 3px Solid Green;
    padding : 10px;
    padding-left : 20px;
    margin : 10px;
    margin-left : 50px;
    width : auto;
    font-size : 14px;
    font-weight : bold;
    font-style : italic;
    color : rgb(0,0,0,0.7);
    overflow : auto;
}

/* style for comments */
.comments{
    color : rgba(0, 25, 253, 0.9);
    font-style : normal;
    font-weight : normal;
    padding-left : 20px;
}

.startOfTheLineComments{
    display : block;
    color : rgba(0, 25, 253, 0.9);
    font-style : normal;
    font-weight : normal;
}
/* style 2 for the code area */
.code-box-2{
    background-color : rgba(35, 65, 57, 0.2);
    border-left : 3px Solid purple;
    padding : 10px;
    padding-left : 20px;
    margin : 10px;
    margin-left : 50px;
    width : auto;
    font-size : 14px;
    font-weight : bold;
    font-style : italic;
    color : rgba(0,0,0,0.7);
    overflow : auto;
}

figure{
    text-align : center;
    max-width : 500px;
    margin : auto;
}

/* style for image container */
.img-container{
    /* padding-left : 250px; */
    height :300px;
    width : 450px;
}

/* style for small code snippets */
.small-snippet{
    background-color : rgba(35, 65, 57, 0.2);
    border-left : 3px Solid Crimson;
    padding : 10px;
    padding-left : 20px;
    margin : 10px;
    margin-left : 20px;
    max-width : 600px;
    font-size : 14px;
    font-weight : bold;
    font-style : italic;
    color : rgba(0,0,0,0.7);
}

/* style 1 for the output area */
.results-box{
    background-color : rgba(12,34,255,0.2);
    font-size : 14px;
    font-style : italic;
    color : rgba(0,0,0,0.7);
    max-width : 600px;
    padding : 10px;
    padding-left : 20px;
    font-weight : bold;
    border-left : 3px Solid rgb(139, 81, 247);
    margin : 10px;
    margin-left : 50px;
}

/* style 2 for the result area */
.results-box-2{
    background-color : rgba(0,250,25,0.2);
    border-left : 3px Solid rgba(255,128,25,1);
    padding : 10px;
    padding-left : 20px;
    margin : 10px;
    margin-left : 50px;
    font-size : 14px;
    font-style : italic;
    font-weight : bold;
    max-width : 600px;
    color : rgba(0,0,0,0.7)
}

.downloadSection{
    /* background-color : Black; */
    max-width : 500px;
    margin : 10px auto 20px auto;
    text-align : center;
}

.downloadSection img{
    max-width:40px;
    max-height:40px;
    margin : 4px auto 4px auto;
    padding : 0px 35px 0px 35px;
}

/* style for buttons */
.btn{
    padding : 10px;
    text-align : center;
    color : White;
    background-color : rgb(54, 231, 54);
    font-size : 14px;
    font-family : monospace; 
}

/* style for single lines of code */
.line-of-code{
    display : block;
    background-color : rgba(100,0,255,0.3);
    padding : 4px;
    font-weight : bolder;
    overflow : auto;
}

/*style for the table*/
.cells{
    padding : 10px;
    margin : 20px;
    background-color : rgba(214, 24, 129,0.5);
    text-align : center;
}

footer{
    background : rgba(26,26,26,0.9);
    color : White;
    padding : 10px 20px 10px 20px;
    margin : 8px -10px -8px -10px;
    text-align : center;
}

a.footer {
    text-decoration: none;
    color : white;
    padding : 5px 20px 5px 20px;
    font-family : 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
}